*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: orange;
}


.text{
  display: inline-block;
  background-color: orange;
  color: #FFF;
}

.main-content{
  margin:0 auto;
  display: flex;
  margin:50px 20px; 
  flex-direction: row;
  justify-content: space-around;
}

.box1{
  width: 90%;
  background-color: #dcdcdc;
 
}

.image1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size:cover;
  background-position: center;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

.box2{
  width: 90%;
  background-color: #dcdcdc;
  margin: 0 20px;
 
 
}

.image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size:cover;
  background-position: center;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

.box3{
  width: 90%;
  background-color: #dcdcdc;
 
}

.image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size:cover;
  background-position: center;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

footer{
  width: 100%;
  height: 50px;
  background-color: gray;
}

@media screen and (max-width:768px){
  header{
    width: 100%;
  }
  
  .main-content{
      flex-wrap: wrap;
  }

  .box1{
    width: 90%;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .image1{
  height: 150px;
    margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}

.box2{
  width: 90%;
  margin:0 auto;
  margin-bottom: 20px;
}

 .image2{
  height: 150px;
    margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}

.box3{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.image3{
  height: 150px;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer{
  width: 100%;
}

}